

/06mantıksal-operatörler.js
/07if-else.js
/08final-notu-hesap.js
/09kredi-hesabı-switch.js
/10-4işlem-function.js
/11function-in-function.js
/12array-add-to-cart.js
/13object-methods.js
/14arr-obj-add-cart.js
/index.html