*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: black;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.card{
  background: white;
  width: 20rem;
  height:30rem;
  margin: 1rem;
}
.card-image{
  background-color: aqua;
  height: 10rem;
  margin-bottom: 1rem;
  background-size: cover;
  border-radius: 15px 15px 0 0 ;
}
